{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Change{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-6 offset-sm-1 text-center">
    <h3 class='text-center mb-5'>Password Reset Successfully !</h3>
    <hr>
    <img src="{% static 'app/images/passwordchangedone.gif' %}" alt="passwordchangedone">
  </div>
 </div>
</div>
{% endblock main-content %}