{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h3>Welcome <span class='text-capitalize'>{{request.user}}</span></h3>
  <div class="col-sm-2 border-end mt-3">
   <ul class="list-unstyled"> 
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn {{active}}">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-8 offset-sm-1">
    {% if messages %}
      {% for message in messages %}
        <p {% if message.tags %} class='alert alert-{{message.tags}} text-center' {% endif %}>{{message}}</p>
      {% endfor %}
    {% endif %}
    <h3 class='text-center'>User Profile</h3>
    <hr>
    <form action="" method='POST' novalidate class="shadow-lg p-5 my-5">
      {% csrf_token %}
      {% for fm in form %}
        <div class='form-group'>
          {{fm.label_tag}} {{fm}} <small class='text-danger'>{{fm.errors|striptags}}</small><br>
        </div>
      {% endfor %}
      <button class='btn btn-primary'>Submit</button>
      {% if form.non_field_errors %}
        {% for error in form.non_field_erros %}
          <p class='alert alert-warning'>{{error}}</p>
        {% endfor %}
      {% endif %}
    </form>
  </div>
 </div>
</div>
{% endblock main-content %} 